#titleBar {
    display: block;
    background-color: #343a40;
}

#title {
    display: block;
    color: white;
    padding: 50px;
}

#cityPresetBtnsDiv {
    padding: 25px 0 0 0;
}

.cityPresetBtn {
    margin: 2px 0;
}

#fiveDayForecastDiv {
    margin-top: 25px;
}

.fiveDayForecastCard {
    margin: 5px;
    border: 1px solid black;
    border-radius: 3px;
}

.card-img-top {
    height: 36px;
    width: 36px !important;
}
